/* 公共css */

/* 修复 */

.clearfix::after, .clearfix::before {
    content: "";
    display: table;
    clear: both;
}

body {
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    max-width: 1200px;
    min-width: 1200px;
    margin:0 auto ;
}

/* 设置网页主体宽度 */

.w {
    color: #afafaf;
}