/* index样式 */

.topbar-wrapper {
    width: 100%;
    height: 36px;
    background-color: #2e2828;
}

a {
    color: #afafaf;
    text-decoration: none;
    display: block;
}

.repository {
    float: left;
}

.userinfo {
    float: right;
}

.repository li, .userinfo li {
    line-height: 36px;
    float: left;
}

.repository>li, .userinfo>li {
    padding: 0 8px;
}

.repository .line, .userinfo .line {
    padding: 0 0px;
}

.repository>li:first-child, .userinfo>li:first-child {
    padding: 0 8px 0 0;
}

.repository>li.dropdown, .userinfo>li.dropdown {
    padding: 0 12px 0 10px;
}

/* 为所有没有下拉列表的li设置hover */

.repository>li:not(.dropdown):hover a, .userinfo>li:not(.dropdown):hover a {
    color: #fff;
}

/* 为下拉列表父元素开启定位 */

.dropdown {
    position: relative;
}

.dropdown:hover {
    background-color: #fff;
}

/* 下拉列表基础样式 */

.dropdown .dropdownlist {
    /* 元素右侧定位于父元素的右侧 */
    position: absolute;
    right: 0;
    display: none;
    /* 圆角 */
    border-radius: 0 0 8px 8px;
    /* 外阴影 */
    /* box-shadow: 0 0 2px #f7f7f7; */
    line-height: 32px;
    background-color: #fff;
}

/* 下拉列表内元素的样式 */

.dropdownlist li {
    width: 100%;
    text-align: center;
}

.dropdownlist li a {
    color: #777;
}

/* 下拉列表hover基础样式 */

.dropdown:hover .dropdownlist {
    display: block;
}

.dropdown a:hover {
    color: #cb242b;
}

.dropdown .moreprojects {
    width: 122px;
    height: 145px;
}

.dropdown .morefeature {
    width: 120px;
    height: 145px;
}

.dropdown li {
    margin: auto 20px;
    text-align: left;
}

/* 更多精彩的样式 */

.userinfo li i.cart {
    padding: 0 10px 0 0;
}

.dropdown .customerservices {
    width: 85px;
    height: 85px;
}

.dropdown .navigation {
    width: 355px;
    height: 201px;
}

.dropdown .mobile {
    width: 244px;
    height: 392px;
}

.dropdown .cart {
    width: 200px;
    height: 230px;
}

.private {
    width: 333;
    height: 666px;
}

.privaterespository li {
    margin: auto 20px;
}

.privaterespository a {
    font-size: 18px;
    color: black;
}